*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
header.hero {
  background-color: rgb(231,246,252);
  display: flex;
  transition: all 0.3s;
  align-items: flex-end;
  border-bottom-left-radius: 34px;
  position: relative;
  height: 30vh;
  margin-bottom: 30px;
}
header.hero.slid-up {
  height: 20vh;
}
.hero-content {
  padding: 20px 0px 0px;
}

.input-container {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  position: relative;
  align-items: center;
}
.input-container input {
  display: block;
  border: none;
  outline: none;
  font-family: inherit;
  line-height: 1.2;
  width: 100%;
  color: #838692;
  font-size: 1rem;
}
.input-container .search-icon {
  margin-right: 10px;
}
h1.title {
  color: #383ab1;
  margin-top: 0;
  margin-block-start: 0;
  font-size: 1.5rem;
  font-weight: 700;
}

span.svg-icon {
  width: 17px;
  height: 17px;
  color: #cccccc;
}
span.svg-icon svg {
  width: 17px;
  height: 17px;
}
button.icon-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
}
button.icon-btn:focus {
  outline: none;
}

.mason-div {
  display: grid;
  grid-auto-flow: column;
}
.mason-col {
  display: flex;
  flex-direction: column;
}
.img-wrapper {
  border-radius: 8px;
  position: relative;
}
.loading-img {
  background: #eeeeee;
  height: 100%;
  animation: fading 1.5s infinite;
  border-radius: 5px;
}
.info {
  position: absolute;
  width: 100%;
  z-index: 9;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  left: 0;
  bottom: 0;
}
.loading-img .info .title {
  width: 40%;
  height: 10px;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.05);
}
.loading-img .info .location {
  width: 35%;
  height: 10px;
  background: rgba(0, 0, 0, 0.05);
}
@keyframes fading {
  0% {
    opacity: .7;
  }
  
  50% {
    opacity: .9;
  }
  
  100% {
    opacity: .7;
  }
}